@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Shared CSS Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border-radius: 48px;
    border: 0;
    padding: 1rem 2rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    text-transform: uppercase;
    color: white;
}

.secondary-btn {
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: white;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.section-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center {
    text-align: center;
}

.container {
    margin: 4rem 6rem;
}

.section-description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 0.5px 1px 8px gray;
}

.nav-logo-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo-section img {
    max-width: 50%;
}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-title span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.nav-menu li,
.nav-follow-part p {
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-follow-part {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.banner-container {
    display: flex;
    justify-content: center;
}

.banner-content {
    background: url('./images/group14.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
}

.banner-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.banner-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}

.banner-description-list {
    list-style: none;
}

.banner-description-list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 0.7rem;
}

.banner-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.banner-image {
    width: 80%;
    margin-right: 6rem;
    display: flex;
    align-items: flex-end;
}

.banner-image img {
    max-width: 100%;
}

.gamer-section {
    background: rgba(255, 66, 165, 0.03);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 6rem;
}

.gamer-section>div {
    width: 50%;
}

.gamer-image {
    width: 100%;
}

.gamer-image img {
    max-width: 100%;
}

.gamer-section-content {
    text-align: right;
    padding: 2rem 2.55rem;
}

.gamer-section-quote {
    margin-top: 2rem;
}

.gamer-section-quote p {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.quote {
    color: #534C64;
    font-size: 1.7rem;
    font-weight: 700;
}

.online-games {
    max-width: 85%;
    margin: 4rem auto;
}

.card-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card-item {
    position: relative;
    transition: .3s ease-in-out;
}

.card-item img {
    max-width: 100%;
}

.card-hover {
    background: linear-gradient(#000000e1, #000000c7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78.5%;
    flex-direction: column;
    border-radius: .75rem;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.card-hover p {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: .5rem;
}

.card-item:hover .card-hover {
    opacity: 1;
}

.card-description {
    color: #534C64;
    margin-top: 1rem;
}

.instant-play {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem 6rem;
}

.instant-play>div {
    width: 50%;
}

.instant-play-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-left: 8rem;
    margin-right: 3rem;
}

.instant-play-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
}

.instant-play-image img {
    max-width: 100%;
}

#thumbnail {
    position: absolute;
    z-index: 1;
    bottom: -15%;
    left: -15%;
    max-width: 50%;
}

.careers-section {
    background: #FF42A5;
    display: flex;
    color: white;
    margin: 4rem 0;
    margin-top: 8rem;
}

.careers-section .white {
    color: white;
}

.careers-section>div {
    width: 50%;
}

.careers-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    padding-left: 6rem;
}

.career-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-column p {
    line-height: 2rem;
}

.careers-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.careers-image img {
    max-width: 100%;
}

.useful-btn {
    padding: 1rem 2.25rem;
    border-radius: 4.1rem;
    border: 0;
    background-color: white;
    color: #FF42A5;
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.buttons-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem 2rem;
    gap: 1rem;
}

.btn-hover {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 2px 3px 5px #80808041;
    border-radius: 4.1rem;
    border: 2px solid transparent;
    transition: .2s linear;
}

.btn-hover img {
    max-width: 50%;
}

.btn-hover:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

footer {
    background-color: #0B0223;
    color: white;
    text-align: center;
    padding: 4rem 8rem;
}

.footer-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.footer-title span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.social-links img {
    max-width: 30px;
}

.footer-ending {
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin-top: 2rem;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.60);
    margin-top: 1rem;
}

/* Media Queries for mobile devices */
@media screen and (max-width: 576px) {
    .container {
        margin: 4rem;
    }

    .section-title {
        font-size: 1.75rem;
    }

    .section-title span {
        font-size: 2.5rem;
    }

    .navbar-container,
    .nav-menu,
    .instant-play,
    .careers-section {
        flex-direction: column;
    }

    .navbar-container {
        justify-content: center;
        align-items: center;
        box-shadow: none;
        padding: 1rem 0;
    }

    .nav-menu {
        margin-top: 1rem;
    }

    .banner-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .banner-container>div {
        width: 100%;
    }

    .banner-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 0;
    }

    .banner-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .banner-title span {
        font-size: 2.5rem;
    }

    .banner-description-list li {
        font-size: 1rem;
    }

    .banner-buttons {
        margin: 1rem 0;
        gap: 1rem;
    }

    .banner-image {
        width: 95%;
        margin: 0 1.5rem;
    }

    .banner-image img {
        max-width: 90%;
    }

    .gamer-section {
        padding: 1rem;
        flex-direction: column;
        width: 100%;
        background: none;
    }

    .gamer-section>div {
        width: 100%;
    }

    .gamer-image {
        width: 95%;
    }
    
    .gamer-image img {
        max-width: 100%;
    }

    .gamer-section-content {
        text-align: center;
        padding: 1rem;
    }

    .online-games {
        padding-left: 2rem;
    }

    .card-items {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        text-align: center;
    }

    .card-item {
        width: 100%;
    }

    .card-item img {
        margin: 0 auto;
    }

    .card-hover {
        height: 85%;
    }

    .main {
        height: 89%;
    }

    .instant-play {
        margin: 2rem;
    }

    .instant-play>div {
        width: 100%;
    }

    .instant-play-content {
        text-align: center;
        margin: 1rem 2rem;
        padding-left: 2rem;
    }

    .instant-play-image {
        padding-left: 4.7rem;
    }

    .instant-play-image img {
        max-width: 95%;
        align-content: center;
    }

    #thumbnail {
        bottom: -5%;
        left: 5%;
        max-width: 30%;
    }

    .careers-section {
        margin: 4rem auto;
        max-width: 100%;
        padding-right: 1rem;
    }


    .careers-section>div {
        width: 100%;
    }

    .careers-content {
        width: 100%;
        padding: 1rem;
    }
}